# ===========================
# Environment
# ===========================
docker/.env

# ===========================
# VS Code — versionar só o launch.json
# ===========================
.vscode/*
!.vscode/launch.json

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db

# ===========================
# PHP
# ===========================
vendor/
composer.lock

# ===========================
# Logs
# ===========================
*.log
